* {
  margin: 0;
  padding:0;
}
body {
    background-image: url(img/bg.png);
    font-family: 'Open Sans', sans-serif;

}
#content{
  width: 1200px;
  margin:0 auto;
}
#header {
  width: 100%;
  height:94px;
  background-color: #473a2d;
}
.logo {
  margin-top:23px;
  margin-left:40px;
  float:left;
}
#menu {
  float:right;
  margin-top: 33px;
}
#navlist li
{
  margin-top: 23px;
  display: inline;
  list-style-type: none;
  padding: 10px 20px;
  text-align: center;
}
#navlist a{
  color: #fff;
  text-decoration: none;
}
#navlist li:hover {
  background-color: #5b4d3b;
}
.menu {
  text-align: center;
  color: #fff;
}
#slider {
  width:100%
}
#slider img {
  width:100%
}
#main {
  width:1200px;
  margin:0 auto;
  color:#473a15;
}
#dala {
  width:350px;
  float:left;
  overflow: hidden;
  margin-bottom: 50px;
}
.line {
  width: 1100;
  min-height: 20px;
  margin-top:10px;
  margin-bottom: 80px;
  border-bottom:1px dashed #736357;
  text-align: center;
  color: #95782d;
  font-size:30pt;
  overflow: hidden;
  padding: 20px;
}
.text1 {
  background: url(img/icon1.png) no-repeat;
  padding-left: 90px;
  float:left;
}
.text2 {
  background: url(img/icon2.png) no-repeat;
  padding-left: 90px;
  float:left;
}
.text3 {
  background: url(img/icon3.png) no-repeat;
  padding-left: 90px;
  float:left;
}
.tablepak {
  width:568px;
  float:left;
}
.tablepakright {
  width:568px;
  float:right;
}
.pakalpojumi {
 font-size: 13px;
}
.about {
  width: 100%;
  background: url(img/bg_b.png);
  overflow: hidden;
  margin-top: 80px;
}
.bg2 {
  width:100%;
  background: url(img/bg_p.png) no-repeat;
  background-size: 100% ;
  background-position: 50% 23%;
  overflow: hidden;
}
.text_about {
  width: 100%;
  text-align: justify;
  color: #fff;
}
.profile_img1 {
  background: url(img/profile1.png) no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  border:6px solid #97804e;
  margin:0 auto;
}
.profile_img2 {
    background: url(img/profile2.png) no-repeat;
    width: 150px;
    height: 150px;
    background-position: center;
    border-radius: 75px;
  	-webkit-border-radius: 75px;
  	-moz-border-radius: 75px;
    border:6px solid #97804e;
    margin:0 auto;
}
.profile_box {
  width: 568px;
  float: left;
  margin-top:25px;
}
